*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-weight: 400;
}

.main-link {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

img {
  display: block;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.nav-menu {
  display: flex;
  gap: 40px;
}
.logo-studio {
  color: #2e2f42;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-link:hover {
  color: #404bbf;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.addres-nav {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-link {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}
.address-link:focus {
  color: #404bbf;
}
.address-link:hover {
  color: #404bbf;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section-one {
  padding: 188px 0;
}

.button:focus {
  background-color: #404bbf;
}
.button:hover {
  background-color: #404bbf;
}
.button {
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.section-one {
  background-color: #2e2f42;

  
}
.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

}
/* початок другої секції*/

.section-two {
  padding: 120px 0;
}


.title-features {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  
}


.section-one-item {
  width: calc((100% - 72px) / 4);
}
  


.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  
}


.p-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
} 
/*початок третьої секції*/
.our-teamname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
  
}
.p-ourteam {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-three {
  padding: 120px 0;
  background-color: #F4F4FD;
}
.our-team {
  background-color: #f4f4fd;
}
.title-ourteam {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}

.ul-our-team {
  background-color: #ffffff;
  width: calc ((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-position {
  padding: 32px 0;
}

/*початок четвертої секції*/

.section-four {
  padding: 120px 0 120px 0;
  
}

.portfoliotitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.ul-portfolio {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-p {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/*початок футера*/

.bottom-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}

.bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
